* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(161, 5, 5);
  padding: 2rem;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: beige;
  width: 500px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px black;
}
